.team {
  padding: 0;
}
.team .master {
  background: white;
  width: 100%;
  color: var(--navy);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.team .master .logo > .logo-t {
  color: var(--navy);
}
.team .teammates {
  min-height: 100vh;
  padding-top: 70px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 10px;
}
.team .teammates .team-member-card {
  width: 100%;
  height: 50vh;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.team .teammates .team-member-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team .teammates .team-member-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}
.team .teammates .team-member-card img:hover {
  filter: grayscale(0%);
}
.team .teammates .team-member-card .name {
  color: var(--white);
  font-family: var(--um);
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: translate(-120%);
  transition: 0.3s;
}
.team .teammates .team-member-card:hover img {
  transform: scale(1.23);
}
.team .teammates .team-member-card:hover .overlay {
  background: linear-gradient(transparent, black);
}
.team .teammates .team-member-card:hover .name {
  transform: translate(0);
}

@media screen and (max-width: 450px) {
  .team {
    padding: 0;
  }
  .team .master {
    padding: 0 12px;
  }
  .team .teammates {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .team .teammates .team-member-card {
    height: 25vh;
  }
  .team .teammates .team-member-card .overlay {
    background: linear-gradient(transparent, black);
  }
  .team .teammates .team-member-card img {
    border-radius: 2px;
  }
  .team .teammates .team-member-card .name {
    font-size: 1.2rem;
    transform: translate(0px);
  }
}