.master {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    height: 70px;
    color: var(--white);
    font-size: 20px;
    .logo .logo-t {
        color: var(--white);
        font-family: var(--ur);
        cursor: pointer;
    }
}

@media screen and (max-width: 450px) {
    .master {
        padding: 0 12px;
    }
}