/* paint */
$white: #ffffff;
$black-trans: rgba(0, 0, 0, 0.438);
$gray: #dedede;
$dark-gray:rgb(121, 117, 117);
$navy-blue: #131834;
$navy-blue-lite: #111947;
$navy-blue-trans: #1318344b;
$saturated-navy-blue: #333a75;
$desaturated-navy-blue: #21275f;
$filtered-red: #f30101;
// $filtered-red-lite: #e41313de;
$filtered-red-lite: rgb(216, 18, 94);